
.modal_container{
    margin-top:1.4rem;
    margin-bottom:1rem;
    margin-left:0.4rem;
    padding: 1rem;
    width:17rem;
    height:18rem;
    border-radius: 0.5rem;
    box-shadow: var(--color-primary) 0px 3px 3px 4px;
    background-color:transparent;
} 

.modal_title{
    text-align:center;
    color:var(--color-primary);
    font-size:1rem;
} 

.modal_body p{
    text-align:justify;
    font-size:0.8rem;
}
