nav{
    background: #03a5fc ;
    width:max-content;
    display:block;
    padding:0.2rem 0.6rem;
    z-index: 2;
    position: fixed;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    gap:0.2rem;
    border-radius:0.2rem 0.2rem 2rem 2rem ;
    backdrop-filter: blur(15px);
}
.nav_item{
    display:flex;
    gap: 1rem;
}
.nav_name{
    margin-left:0.2rem;
    color:var(--color-bg)
}

.nav_icon{
    color:var(--color-bg)
}
nav a{
    background: transparent;
    padding:0.6rem;
    border-radius:  2rem 2rem   ;
    display:flex;
    color:var(--color-light);
    font-size:1.45rem;
} 

nav a:hover{
    background:var(--color-white) ;
}

nav a.active{
    background:var(--color-white) ;
} 

@media screen and (max-width:600px) {
   nav{
    display:none;
   }
}
